*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{ 
    cursor: pointer;
    font-size: 30px;
    width: 200px;
    height: 90px;
    border-radius: 15px;
    border: none;
    color: steelblue;
    background-color: aqua;
    margin-left: 650px;
    margin-top: 350px;
}